h1{color: #0FA1CF;
	font-size: 3em;
	font-family:Helvetica, sans-serif:
	background-color: white;
	width: 350px;
	margin: 0 auto;
	padding: 50px;
}
h2{ color: #FFFFFF;
	fontsize: 23m;
}
p{color: #FFFFFF;
 }
a{text-decoration:  none;
	color:  #FFFFFF;
	font-weight: bold;}

body{background-color:  #5F0FCF;
	margin:  100px}